@use '/src/styles/breakpoints.scss';
@use '/src/styles/typography.scss';
@use '/src/styles/variables.scss';
@use '/src/styles/functions.scss';

.navbar-container {
  text-align: center;
  font-family: 'Cormorant Garamond', sans-serif;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .navbar__link {
      padding: 2.5rem 0.7rem;
      cursor: pointer;
      // font-weight: bold;
      color: #333;
      text-decoration: none;
      font-size: larger;
      position: relative; // Position relative to allow absolute positioning of pseudo-elements

      @include breakpoints.small-only {
        padding: 0.5rem 0.7rem;
      }

      // Add a black line under the "Featured" item
      &--active::after {
        content: '';
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        height: 1px;
        width: 75%;
        background-color: black;
        margin: auto;

        @include breakpoints.small-only {
          bottom: 10px;
        }
      }

      // Add a black line under the item on hover
      &:hover::after {
        content: '';
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        height: 1px;
        width: auto;
        background-color: black;

        @include breakpoints.small-only {
          bottom: 10px;
          width: 80%;
          align-items: center;
          left: 10px;
        }
      }
    }
    @include breakpoints.small-only {
      display: flex;
      flex-direction: column;
    }
  }
}
